<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ShoppingProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ShoppingProject</servlet-name>
    <servlet-class>com.didiao.servlet.GoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingProject</servlet-name>
    <url-pattern>/getGoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.didiao.servlet.RegisterUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserAccountServlet</servlet-name>
    <servlet-class>com.didiao.servlet.UserAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAccountServlet</servlet-name>
    <url-pattern>/userInfoAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>LoginUserServlet</servlet-name>
    <servlet-class>com.didiao.servlet.LoginUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUserServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductContentServlet</servlet-name>
    <servlet-class>com.didiao.servlet.ProductContentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductContentServlet</servlet-name>
    <url-pattern>/comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContentServlet</servlet-name>
    <servlet-class>com.didiao.servlet.ContentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/content</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>GoodsDetailServlet</servlet-name>
    <servlet-class>com.didiao.servlet.GoodsDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsDetailServlet</servlet-name>
    <url-pattern>/goodsDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>AddGoodsInfoServlet</servlet-name>
    <servlet-class>com.didiao.servlet.AddGoodsInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGoodsInfoServlet</servlet-name>
    <url-pattern>/addGoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteGoodsInfoServlet</display-name>
    <servlet-name>DeleteGoodsInfoServlet</servlet-name>
    <servlet-class>com.didiao.servlet.DeleteGoodsInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGoodsInfoServlet</servlet-name>
    <url-pattern>/deleteGoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadFileServlet</display-name>
    <servlet-name>UploadFileServlet</servlet-name>
    <servlet-class>com.didiao.servlet.UploadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFileServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
</web-app>